<p>Report for failed Maven Central Deployment: org.jboss.nexus.validation.reporting.jira.JiraTestReportCapabilityDescriptor</p>

<h3>Common Velocity Variables</h3>
See <a href="https://github.com/jbossorg/nx3-maven-central-deploy#velocity-variables">here</a>

<h3>Jira specific Velocity Variables</h3>
See <a href="https://github.com/jbossorg/nx3-maven-central-deploy#jira-specific-velocity-variables">here</a>
